@import '../../me/shared/variables.scss';

.post {
  * {
    max-width: 100%;
  }

  .meta {
    font-size: 0.9em;
    text-align: right;

    .key {
      color: $heavy-grey;

      &::after {
        content: '\A0';
      }
    }

    .value {
      color: $pink;
    }
  }

  .headline {
    font-size: 3em;
    margin-top: 0;
  }
}
