<div class="sidebar hidden-print" data-spy="affix">
  <ul class="nav">
    <a href="/">{{ humanize .Site.Title }}</a>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li>
        <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="/{{ urlize .Identifier }}">{{ humanize .Identifier }}</a>
      </li>
    {{ end }}
    {{ if isset .Params "menu" }}
      <hr/>
      <li class="sub-nav">
        <a href="#{{ urlize .Params.Title }}" class="sub-nav__link">{{ humanize .Params.title }}</a>
        <ul class="nav">
          {{ range .Params.menu}}
            <li>
              <a href="#{{ urlize . }}" class="sub-nav__link"> {{ humanize . }}</a>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</div>
