<h2 id="{{ urlize .name }}">{{ .name }}</h3>
<div class="project-list">
  {{ range $i, $el := .source }}
  <div class="project">
    <span class="project-list-element">
      <h3 class="project-list-element-title">
        <i class="fa fa-{{ with .icon }}{{ . }}{{ else }}github{{ end }} fa-lg"></i>&nbsp;&nbsp;
        <strong>
          <a href="{{ with .repo }}{{ . }}{{ else }}#{{ end }}">
            {{ with .name }}{{ . }}{{ else }}Project {{ add $i 1 }}{{ end }}
          </a>
        </strong>
      </h3>
      <span class="project-list-element-description">
        {{- with .extra -}}
          <strong>
            <a href="{{ .link }}">{{ .name }}</a>
          </strong>&nbsp;-&nbsp;
        {{- end -}}
        {{ $el.description | markdownify }}
      </span>
    </span>
  </div>
  {{ end }}
</div>
