@import '../variables';
@import '../mixins';

.githubCorner {
  @include hiddenPrint;

  &:hover {
    .octoArm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }

  svg {
    border: 0;
    color: $white;
    fill: $red;
    position: absolute;
    right: 0;
    top: 0;

    .octoArm {
      transform-origin: 130px 106px;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media screen and (max-width: $medium-phone) {
  .githubCorner {
    &:hover {
      .octoArm {
        animation: none;
      }
    }

    .octoArm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
