// sass-lint:disable no-important
@media print {
  .projectListElement {
    font-size: 0.8em !important;
    margin: 0.5em 0 !important;
  }

  .projectList {
    page-break-inside: unset !important;
  }

  .project,
  .projectListElement {
    page-break-inside: avoid !important;
  }
}
