{{ $colours := resources.Get "css/shared/colours.css" }}
{{ $fonts := resources.Get "css/shared/fonts.css" }}
{{ $shadows := resources.Get "css/shared/shadows.css" }}
{{ $typography := resources.Get "css/shared/typography.css" }}
{{ $avatar := resources.Get "css/avatar.css" }}
{{ $cards := resources.Get "css/cards.css" }}
{{ $contributions := resources.Get "css/contributions.css" }}
{{ $experience := resources.Get "css/experience.css" }}
{{ $footer := resources.Get "css/footer.css" }}
{{ $githubCorner := resources.Get "css/github-corner.css" }}
{{ $layout := resources.Get "css/layout.css" }}
{{ $nav := resources.Get "css/nav.css" }}
{{ $social := resources.Get "css/social.css" }}
{{ $excerpt := resources.Get "css/posts/excerpt.css" }}
{{ $post := resources.Get "css/posts/post.css" }}
{{ $main := resources.Get "css/main.css" }}
{{ $style := slice $colours $fonts $shadows $typography $avatar $cards $contributions $experience $footer $githubCorner $layout $nav $social $excerpt $post $main | resources.Concat "css/bundle.css" | minify | fingerprint "sha512" }}
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="preload"
  as="style"
  href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Source+Serif+4&family=Source+Code+Pro:wght@300;400;500&display=swap"
  onload="this.rel='stylesheet'"
/>
<noscript>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Source+Serif+4&family=Source+Code+Pro:wght@300;400;500&display=swap"
  />
</noscript>
<link
  rel="stylesheet"
  href="{{ $style.RelPermalink }}"
  type="text/css"
  integrity="{{ $style.Data.Integrity }}"
  crossorigin="anonymous"
/>
