// Width variables
$small-phone: 424px;
$medium-phone: 460px;
$large-phone: 560px;
$xl-phone: 600px;
$tablet: 846px;
$large-tablet: 996px;
$laptop: 1200px;

// Colours
$light-grey: #eee;
$grey: #e7e7e7;
$dark-grey: #ddd;
$heavy-grey: #777;
$black: #000;
$white: #fff;
$red: #fd6c6c;
$blue: #337ab7;
$light-black: rgba(0, 0, 0, 0.04);
$purple: #6f42c1;
$green: #2cbe4e;
$dark-red: #cb2431;
$pink: #c9c;
$orange: #d27b53;

$shadow-border: #7d97ad;
$shadow: rgba(0, 0, 0, 0.004);
$top-shadow: rgba(0, 0, 0, 0.16);
$side-shadow: rgba(0, 0, 0, 0.12);

$fonts: Segoe UI, Roboto, Source Sans Pro, Helvetica, Arial, sans-serif;
$mono-fonts: Menlo, Monaco, Consolas, 'Courier New', monospace;
