.avatar {
  align-items: center;
  display: flex;
  flex-direction: row;

  img {
    border: none;
    height: 100px;
    margin-right: 0.5em;
    overflow: hidden;
    position: relative;
    width: 100px;
  }
}
