@use 'shared/colours';

.experience {
  @media print {
    page-break-inside: avoid !important;

    .experience-block:nth-child(n + 5) {
      display: none;
    }

    .experience-block {
      page-break-inside: avoid !important;
    }
  }

  h3 a {
    color: colours.$black;
  }
}
