@use "shared/print";
@use "shared/colours";
@use "shared/screens";

.container {
  @include print.show;

  @media screen and (max-width: screens.$tablet) {
    grid-row-gap: 15px;
    grid-template:
      "sidebar"
      "main"
      "footer"
      auto / auto;
    max-width: 100%;
  }

  display: grid;
  grid-gap: 5px 10px;
  grid-template-rows: auto;
  grid-template-columns: 80% 20%;
  grid-template-areas: "main sidebar" "footer footer";

  .markdown-body {
    @media screen and (max-width: screens.$large-phone) {
      margin: 0 1em;
      max-width: 100%;
    }

    @media screen and (max-width: screens.$tablet) {
      max-width: 80%;
      padding: 1em 1.5em;
    }

    @media screen and (max-width: screens.$large-tablet) {
      margin-left: 8px;
      margin-right: 8px;
    }

    grid-area: main;
    margin-left: 8em;
    margin-right: auto;
    min-height: 660px;
    overflow: visible;
    padding: 40px 16px;

    .wrapper {
      margin-left: 4em;
      padding: 40px 16px;

      @media screen and (max-width: screens.$tablet) {
        margin: 0;
        padding: 0;
      }

      @media print {
        padding: 0;
      }

      .about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
    }

    &::after,
    &::before {
      content: "";
      display: table;
    }

    &::after {
      clear: both;
    }

    > {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}
