@import '../variables';

@media screen and (max-width: $laptop) {
  .cardOuter {
    .card {
      margin: 0 0.35rem;

      .cardTitle {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: $large-tablet) {
  .cardOuter {
    width: 50%;

    .card {
      margin: 0 0.5rem;
    }
  }
}

@media screen and (max-width: $tablet) {
  .cardOuter {
    height: 242px;

    .card {
      height: 210px;

      .cardTitle {
        min-height: unset;
      }
    }
  }
}

@media screen and (max-width: $xl-phone) {
  .cardOuter {
    height: 282px;

    .card {
      height: 250px;
      margin: 0 0.35rem;
    }
  }
}

@media screen and (max-width: $large-phone) {
  .cardOuter {
    height: 222px;
    width: 100%;

    .card {
      height: 190px;
      margin: 0 auto;
      max-width: 85%;
    }
  }
}

@media screen and (max-width: $small-phone) {
  .cardOuter {
    height: 232px;

    .card {
      height: 200px;
      max-width: 90%;
    }
  }
}
