<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  {{ partial "head/header" . }}
  <body>
    <div class="container">
      {{ partial "github/corner" . }}
      {{ partial "navigation/nav" . }}
      <div class="markdown-body">
        <div class="wrapper">
          <section class="about">
            <main>{{ block "main" . }}{{ end }}</main>
          </section>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
