<article class="excerpt">
  <h2 class="headline">
    <a href="{{ .Permalink }}">
      {{ .Title }}
    </a>
  </h2>
  <div class="meta">
    <span class="key">published on</span>
    <span class="value"
      ><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span
    >
    {{ with .Site.Params.author.name }}
      <span class="key">author:</span>
      <span class="value">{{ . }}</span>
    {{ end }}
  </div>
  <section class="article">
    {{- with .Params.description -}}{{- . | markdownify -}}{{- else -}}{{- .Summary -}}{{- end -}}
    <a href="{{ .Permalink }}"> Read more<span class="sr-only">: {{ .Title }}</span> </a>
  </section>
  <hr />
</article>
