.container {
  @import '../shared/print.scss';
  @import './mobile.scss';

  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  // sass-lint:disable indentation
  grid-template-areas:
    'main sidebar'
    'footer footer';
  // sass-lint:enable indentation
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;

  .markdownBody {
    grid-area: main;
    margin-left: 8em;
    margin-right: auto;
    min-height: 660px;
    overflow: visible;
    padding: 40px 16px;

    .wrapper {
      margin-left: 4em;
      padding: 40px 16px;

      .about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
    }

    &::after,
    &::before {
      content: '';
      display: table;
    }

    &::after {
      clear: both;
    }

    > {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}
