@import '../shared/variables.scss';

@media screen and (max-width: $large-phone) {
  grid-row-gap: 15px;
  // sass-lint:disable indentation
  grid-template-areas:
    'sidebar'
    'main'
    'footer';
  // sass-lint:enable indentation
  grid-template-columns: auto;
  grid-template-rows: auto;
  max-width: 100%;

  .markdownBody {
    margin: 0 1em;
    max-width: 100%;
  }
}

@media screen and (max-width: $tablet) {
  .markdownBody {
    max-width: 80%;
  }
}

@media screen and (max-width: $large-tablet) {
  .markdownBody {
    margin-left: 8px;
  }
}
