.github-corner {
  @media print {
    display: none;
  }

  & svg {
    border: 0;
    color: var(--colour-white);
    fill: var(--colour-red);
    position: absolute;
    right: 0;
    top: 0;

    & .octo-arm {
      transform-origin: 130px 106px;
    }
  }

  &:hover {
    & .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media screen and (width <= 846px) {
  .github-corner {
    & svg {
      height: 50px;
      width: 50px;
    }
  }
}
