<div class="card-list">
  {{ range . }}
    <div class="card-outer">
      <a href="{{ .url }}" class="contribution-card" rel="noopener noreferrer">
        <span class="contribution-card-repo">
          {{ partial "svg-icon" "github" }}
          {{ .repo.owner }}/{{ .repo.name }}
        </span>
        <span class="contribution-card-title">{{ .title }}</span>
        <span class="contribution-card-footer">
          <span class="{{ partial "github/status" .state }}">
            {{ partial "svg-icon" "code-branch" }}
            {{ humanize .state }}
          </span>
          {{ with .repo.stars }}
            <span class="contribution-card-stars">
              {{ partial "svg-icon" "star" }}
              {{ . }}
            </span>
          {{ end }}
        </span>
      </a>
    </div>
  {{ end }}
</div>
