{{ define "main" }}
  <article class="post">
    <div class="meta">
      <span class="key">published on</span>
      <span class="value">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
      <br />
      {{ with .Site.Author.name }}
        <span class="key">author:</span>
        <span class="value">{{ . }}</span>
        <br />
      {{ end }}
      {{ with .Params.tags }}
        <span class="key">tags:</span>
        <span class="value">
          {{ range $i, $e := . -}}
            {{- if $i -}}, {{ end -}}
            <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
          {{- end -}}
          </span>
        <br />
      {{ end }}
    </div>
    <h1
      class="headline"
      id="{{ urlize .Params.Title }}"
    >{{ .Params.title }}</h1>
    <section class="article">{{ .Content }}</section>
  </article>
{{ end }}
