/* Colours */
$light-grey: #eee;
$grey: #e7e7e7;
$dark-grey: #ddd;
$heavy-grey: #777;
$black: #000;
$white: #fff;
$red: #fd6c6c;
$blue: #337ab7;
$light-black: rgb(0 0 0 / 4%);
$purple: #6f42c1;
$green: #2cbe4e;
$dark-red: #cb2431;
$pink: #c9c;
$orange: #d27b53;
