@use 'shared/colours';

@mixin show {
  @media print {
    grid-template-columns: 100% !important;
    max-width: 100% !important;

    .markdown-body {
      margin: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      h2 {
        font-size: 1.2em !important;
      }

      h3 {
        font-size: 1em !important;
        margin: 1em 0 0.8em !important;
      }

      p {
        font-size: 0.8em !important;
        margin-bottom: 1em !important;
      }

      blockquote {
        border-bottom: 0;
        border-left: 0.25em solid colours.$dark-grey;
        border-right: 0;
        border-top: 0;
        color: colours.$heavy-grey;
        font-size: 1em;
        padding: 0 1em;

        h4 {
          font-size: 0.8em !important;
        }
      }
    }
  }
}

@mixin hidden {
  @media print {
    display: none;
  }
}
