.GithubCorner {
  &:hover {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }

  svg {
    border: 0;
    color: #fff;
    fill: #fd6c6c;
    position: absolute;
    right: 0;
    top: 0;

    .OctoArm {
      transform-origin: 130px 106px;
    }
  }
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .GithubCorner {
    &:hover {
      .OctoArm {
        animation: none;
      }
    }

    .OctoArm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
