<div class="experience">
  <h2 id="{{ urlize .title }}">{{ humanize .title }}</h3>
  {{ range sort .source "startDate" "desc"}}
    <div class="experience-block">
      {{ if isset  . "company" }}
        <h3 id="{{ urlize ( printf "%s-%s" .position .company) }}"><a href="{{ .website }}">{{ .position }}@{{ .company }}&emsp;</a>
      {{ else }}
        <h3 id="{{ urlize ( printf "%s-%s" .title .institution) }}">{{ .title }}@{{ .institution }}&emsp;
      {{ end }}
        <small>
          <em>
            {{ dateFormat "Jan 1, 2006" .startDate }} - {{ with .endDate -}}
              {{ dateFormat "Jan 1, 2006" . }}
            {{- else -}}
              present
            {{- end -}}
          </em>
        </small>
      </h3>
      {{ partial "languages" .languages }}
      {{ with .summary }}
        {{ trim . "\n" | markdownify }}
      {{ end }}
      <hr>
    </div>
  {{ end }}
</div>
