{{ define "main" }}
  <div class="avatar">
      {{ partial "responsive-image" (dict "image" (resources.Get .Site.Data.info.picture) "alt" (printf "Photo of %s" .Site.Data.info.name) "lazy" false "sizes" "100px" "class" "") }}
  </div>
  <h1>
    My Name is <strong>{{ .Site.Data.info.name }}</strong>, I'm a {{
    .Params.job }}.
  </h1>
  <p>{{ .Params.blurb | markdownify }}.</p>
  <p>
    {{ .Params.project_link | markdownify }}<a href="/projects/">
      projects</a
    >.
  </p>
  <p>{{ .Params.resume_link | markdownify }}<a href="/me"> resume</a>.</p>
  {{ .Content }}
  <p>
    Contact me at
    <a href="https://{{ .Site.Params.mastodonHost }}/@{{ .Site.Params.mastodonUser }}"
      >@{{ .Site.Params.mastodonUser }}@{{ .Site.Params.mastodonHost }}</a
    >
    or by <a href="mailto:{{ .Site.Params.email }}">email</a>.
  </p>
  {{ with .Site.Data.info.profiles }}
    {{ partial "social/icons" . }}
  {{ end }}
{{ end }}
