@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,300italic,300|Source+Serif+Pro|Source+Code+Pro:400,300,500&subset=latin,latin-ext');

$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome';
@import 'variables';
@import 'about';
@import 'print';
@import 'markdown';
@import 'nav';
@import 'corner';
@import 'icons';
@import 'bounce';
@import 'project';

body {
  -webkit-font-smoothing: subpixel-antialiased; // sass-lint:disable-line no-vendor-prefixes
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes, no-misspelled-properties
  border-top: 6px solid $red;
  font-family: Segoe UI, Roboto, Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-smooth: auto; // sass-lint:disable-line no-misspelled-properties
  letter-spacing: 0.025em;
  line-height: 1.5;
  margin: 0;
  text-shadow: 0 0 1em transparent, 1px 1px 1.2px $shadow;
  word-wrap: break-word;

  .container {
    @media screen and (max-width: $large-phone) {
      grid-row-gap: 15px; // sass-lint:disable-line no-misspelled-properties
      // sass-lint:disable indentation
      grid-template-areas:
        'sidebar'
        'main'
        'footer';
      // sass-lint:enable indentation
      grid-template-columns: auto;
      grid-template-rows: auto;
      max-width: 100%;
    }

    display: grid;
    grid-column-gap: 10px; // sass-lint:disable-line no-misspelled-properties
    grid-row-gap: 15px; // sass-lint:disable-line no-misspelled-properties
    // sass-lint:disable indentation
    grid-template-areas:
      'main sidebar'
      'footer footer';
    // sass-lint:enable indentation
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    max-width: 90%;

    hr {
      border: 0;
      border-top: 1px solid $grey;
      box-sizing: content-box;
      height: 0;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    a {
      color: $blue;
      text-decoration: none;
    }
  }

  footer {
    grid-area: footer;
  }

  .markdown-body {
    grid-area: main;
  }

  .sidebar {
    grid-area: sidebar;
  }
}

:focus {
  outline: none;
}

::-focus-inner {
  border: 0;
}
