.sidebar {
  margin-top: 64px;
  text-align: inherit;
  @media screen and (max-width: $large-phone) {
    margin-top: 1em;
  }

  a {
    color: $heavy-grey !important; // sass-lint:disable-line no-important
    overflow: hidden;
    white-space: pre;
    @media screen and (max-width: $large-phone) {
      border-right: 1px solid $light-grey;
      padding: 0 1em;
    }
  }

  .nav {
    @media screen and (max-width: $large-phone) {
      border-bottom: 1px solid $light-grey;
      flex-direction: row;
      float: left;
      margin-left: 8px;
      padding-bottom: 8px;
    }

    display: flex;
    flex-direction: column;
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    hr {
      margin: 4px;
    }

    li {
      a {
        display: block;
        font-size: 12px;
        font-weight: 500;
        padding: 0 20px 4px;

        &:focus,
        &:hover {
          background-color: transparent;
          border-left: 1px solid $black;
          color: $black;
          padding-left: 19px;
          text-decoration: none;
        }
      }
    }

    .sub-nav {
      @media screen and (max-width: $large-phone) {
        display: none;
      }

      > a {
        font-weight: 400;
        padding: 1px 20px;

        &:focus,
        &:hover {
          padding-left: 19px;
        }
      }

      nav {
        a {
          font-weight: 400;
          padding: 1px 30px;

          &:focus,
          &:hover {
            padding-left: 29px;
          }
        }
      }
    }
  }
}
