.sub-nav {
  @media screen and (max-width: $large-phone) {
    display: none;
  }

  > a {
    font-weight: 400;
    padding: 1px 20px;

    &:focus,
    &:hover {
      padding-left: 19px;
    }
  }

  nav {
    sidebar-nav-item {
      font-weight: 400;
      padding: 1px 30px;

      &:focus,
      &:hover {
        padding-left: 29px;
      }
    }
  }
}
