@import './print.scss';

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Element {
    display: flex;
    font-size: 110%;
    margin: 0.5rem 0;

    &Title {
      font-size: 0.9em;
      font-weight: bold;
      margin: 0 0.4rem 0 0;

      > svg {
        margin-right: 0.4rem;
      }
    }

    &Description {
      font-size: 0.8rem;
    }
  }
}
