{{ define "main" }}
  <div class="markdown-body">
    <section class="about">
      <div>
        <div class="avatar">
          <img class="img-circle" src="/images/{{ .Site.Params.avatar }}" alt="Mug shot">
        </div>
        <h3>My Name is <strong>{{ .Site.Params.author }}</strong>, I'm a {{ .Params.job }}.</h3>
        <h3>{{ .Params.blurb | markdownify }}.</h3>
        <h3>{{ .Params.project_link | markdownify }}<a href="/projects/"> projects</a>.</h3>
        <h3>{{ .Params.resume_link | markdownify }}<a href="/me"> resume</a>.</h3>
        {{ .Content }}
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.twitter.user }}">@{{ .Site.Params.Social.twitter.user }}</a> or by <a href="mailto:{{ .Site.Params.Social.email.address }}">email</a>.</h3>
        {{ with .Site.Params.social }}
          {{ partial "icons" . }}
        {{ end }}
      </div>
    </section>
  </div>
{{ end }}
