{{ define "main" }}
  <div class="avatar">
    {{ $image := resources.Get .Site.Data.info.picture }}
    {{ partial "responsive-image" (dict "image" $image "alt" (printf "Photo of %s" .Site.Data.info.name) "class" "avatar-img" "sizes" "100px" "lazy" false) }}
  </div>
  <h1 id="{{ urlize .Params.title }}">{{ .Site.Data.info.name }}</h1>
  {{ with .Site.Data.info.profiles }}
    {{ partial "social/list" . }}
  {{ end }}
  <blockquote>
    {{ partial "languages" .Site.Data.info.languages }}
    {{ .Content }}
  </blockquote>
  {{ partial "experience" .Site.Data.work }}
  {{ partial "experience" .Site.Data.education }}
  {{ with "Open Source Projects" }}
    <h2 id="{{ urlize . }}">{{ humanize . }}</h2>
  {{ end }}
  {{ partial "github/repos" .Site.Data.github.pinnedRepos }}
{{ end }}
