@import '../variables';

@media screen and (max-width: $large-phone) {
  margin-top: 1em;

  a {
    border-right: 1px solid $light-grey;
    padding: 0 1em;
  }

  .nav {
    border-bottom: 1px solid $light-grey;
    flex-direction: row;
    float: left;
    margin-left: 8px;
    padding-bottom: 8px;
    position: absolute;

    .subNav {
      display: none;
    }
  }
}
