.projectOuter {
  .project {
    &:hover {
      transition-delay: 0.2s;
    }

    .projectDesc {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .project {
    margin: 0 0.35rem;
  }
}

@media all and (max-width: 1155px) {
  .projectTitle {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 1000px) {
  .projectOuter {
    width: 50%;

    .project {
      margin: 0 0.5rem;
    }
  }
}

@media all and (max-width: 820px) {
  .projectOuter {
    height: 242px;

    .project {
      height: 210px;

      .projectTitle {
        min-height: unset;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .projectOuter {
    height: 282px;

    .project {
      height: 250px;
      margin: 0 0.35rem;
    }
  }
}

@media all and (max-width: 550px) {
  .projectOuter {
    height: 222px;
    width: 100%;

    .project {
      height: 190px;
      margin: 0 auto;
      max-width: 85%;
    }
  }
}

@media all and (max-width: 400px) {
  .project {
    max-width: 90%;
  }
}

@media all and (max-width: 350px) {
  .projectOuter {
    height: 232px;

    .project {
      height: 200px;
    }
  }
}
